# NLP Basics: Implementing a pipeline to clean text

### Pre-processing text data

Cleaning up the text data is necessary to highlight attributes that you're going to want your machine learning system to pick up on. Cleaning (or pre-processing) the data typically consists of a number of steps:
1. **Remove punctuation**
2. **Tokenization**
3. **Remove stopwords**
4. Lemmatize/Stem

The first three steps are covered in this chapter as they're implemented in pretty much any text cleaning pipeline. Lemmatizing and stemming are covered in the next chapter as they're helpful but not critical.

In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', 100)

data = pd.read_csv("SMSSpamCollection.tsv", sep='\t', header=None)
data.columns = ['label', 'body_text']

data.head()

,label,body_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2,ham,"Nah I don't think he goes to usf, he lives around here though"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!

In [3]:
# What does the cleaned version look like?
data_cleaned = pd.read_csv("SMSSpamCollection_cleaned.tsv", sep='\t')
data_cleaned.head()

,label,body_text,body_text_nostop
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,"['ive', 'searching', 'right', 'words', 'thank', 'breather', 'promise', 'wont', 'take', 'help', '..."
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,"['free', 'entry', '2', 'wkly', 'comp', 'win', 'fa', 'cup', 'final', 'tkts', '21st', 'may', '2005..."
2,ham,"Nah I don't think he goes to usf, he lives around here though","['nah', 'dont', 'think', 'goes', 'usf', 'lives', 'around', 'though']"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,"['even', 'brother', 'like', 'speak', 'treat', 'like', 'aids', 'patent']"
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,"['date', 'sunday']"

### Remove punctuation

In [4]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [5]:
"I like NLP." == "I like NLP"

False

In [14]:
def remove_punct(text):
    text_nopunct = [char for char in text if char not in string.punctuation]
    return text_nopunct

data['body_text'].apply(lambda x: remove_punct(x))

0       [I, v, e,  , b, e, e, n,  , s, e, a, r, c, h, i, n, g,  , f, o, r,  , t, h, e,  , r, i, g, h, t,...
1       [F, r, e, e,  , e, n, t, r, y,  , i, n,  , 2,  , a,  , w, k, l, y,  , c, o, m, p,  , t, o,  , w,...
2       [N, a, h,  , I,  , d, o, n, t,  , t, h, i, n, k,  , h, e,  , g, o, e, s,  , t, o,  , u, s, f,  ,...
3       [E, v, e, n,  , m, y,  , b, r, o, t, h, e, r,  , i, s,  , n, o, t,  , l, i, k, e,  , t, o,  , s,...
4       [I,  , H, A, V, E,  , A,  , D, A, T, E,  , O, N,  , S, U, N, D, A, Y,  , W, I, T, H,  , W, I, L, L]
                                                       ...
5563    [T, h, i, s,  , i, s,  , t, h, e,  , 2, n, d,  , t, i, m, e,  , w, e,  , h, a, v, e,  , t, r, i,...
5564    [W, i, l, l,  , ü,  , b,  , g, o, i, n, g,  , t, o,  , e, s, p, l, a, n, a, d, e,  , f, r,  , h,...
5565    [P, i, t, y,  ,  , w, a, s,  , i, n,  , m, o, o, d,  , f, o, r,  , t, h, a, t,  , S, o, a, n, y,...
5566    [T, h, e,  , g, u, y,  , d, i, d,  , s, o, m, e,  , b, i, t, c, h, i, n, g,  , b, u, t,  , I,  ,...
5567                            [R, o, f, l,  , I, t, s,  , t, r, u, e,  , t, o,  , i, t, s,  , n, a, m, e]
Name: body_text, Length: 5568, dtype: object

In [13]:
def remove_punct(text):
    text_nopunct = " ".join([char for char in text if char not in string.punctuation])
    return text_nopunct

data['body_text'].apply(lambda x: remove_punct(x))

0       I v e   b e e n   s e a r c h i n g   f o r   t h e   r i g h t   w o r d s   t o   t h a n k   ...
1       F r e e   e n t r y   i n   2   a   w k l y   c o m p   t o   w i n   F A   C u p   f i n a l   ...
2       N a h   I   d o n t   t h i n k   h e   g o e s   t o   u s f   h e   l i v e s   a r o u n d   ...
3       E v e n   m y   b r o t h e r   i s   n o t   l i k e   t o   s p e a k   w i t h   m e   T h e ...
4                                         I   H A V E   A   D A T E   O N   S U N D A Y   W I T H   W I L L
                                                       ...
5563    T h i s   i s   t h e   2 n d   t i m e   w e   h a v e   t r i e d   2   c o n t a c t   u   U ...
5564                                  W i l l   ü   b   g o i n g   t o   e s p l a n a d e   f r   h o m e
5565    P i t y     w a s   i n   m o o d   f o r   t h a t   S o a n y   o t h e r   s u g g e s t i o n s
5566    T h e   g u y   d i d   s o m e   b i t c h i n g   b u t   I   a c t e d   l i k e   i d   b e ...
5567                                                      R o f l   I t s   t r u e   t o   i t s   n a m e
Name: body_text, Length: 5568, dtype: object

In [6]:
def remove_punct(text):
    text_nopunct = "".join([char for char in text if char not in string.punctuation])
    return text_nopunct

data['body_text_clean'] = data['body_text'].apply(lambda x: remove_punct(x))

data.head()

,label,body_text,body_text_clean
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

### Tokenization

In [ ]:
import re

### Remove stopwords

In [ ]:
import nltk