## Pipeline: Tune hyperparameters

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

In this section, we will tune the hyperparameters for the basic model we fit in the last section.

### Read in data

![Tune Hyperparameters](../../img/tune_hyperparameters.png)

In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

tr_features = pd.read_csv('../../../train_features.csv')
tr_labels = pd.read_csv('../../../train_labels.csv', header=None, skiprows=1)

In [2]:
tr_features.head()

   Pclass  Sex   Age     Fare  Family_cnt  Cabin_ind
0       2    0  62.0  10.5000           0          0
1       3    0   8.0  29.1250           5          0
2       3    0  32.0  56.4958           0          0
3       3    1  20.0   9.8250           1          0
4       2    1  28.0  13.0000           0          0

In [3]:
tr_labels.head()

   0
0  1
1  0
2  1
3  0
4  1

### Hyperparameter tuning

![Hyperparameters](../../img/hyperparameters.png)

In [2]:
def print_results(results):
    print('BEST PARAMS: {}\n'.format(results.best_params_))

    means = results.cv_results_['mean_test_score']
    stds = results.cv_results_['std_test_score']
    for mean, std, params in zip(means, stds, results.cv_results_['params']):
        print('{} (+/-{}) for {}'.format(round(mean, 3), round(std * 2, 3), params))

In [6]:
rf = RandomForestClassifier()
parameters = {
    'n_estimators': [5, 50, 100],
    'max_depth': [2, 10, 20, None]
}

cv = GridSearchCV(rf, parameters, cv=5)
# 3 x 4 x 5 = 60 models generated 
cv.fit(tr_features, tr_labels.values.ravel())

print_results(cv)

BEST PARAMS: {'max_depth': 10, 'n_estimators': 100}

0.751 (+/-0.104) for {'max_depth': 2, 'n_estimators': 5}
0.794 (+/-0.107) for {'max_depth': 2, 'n_estimators': 50}
0.802 (+/-0.121) for {'max_depth': 2, 'n_estimators': 100}
0.811 (+/-0.043) for {'max_depth': 10, 'n_estimators': 5}
0.818 (+/-0.053) for {'max_depth': 10, 'n_estimators': 50}
0.822 (+/-0.061) for {'max_depth': 10, 'n_estimators': 100}
0.796 (+/-0.041) for {'max_depth': 20, 'n_estimators': 5}
0.805 (+/-0.021) for {'max_depth': 20, 'n_estimators': 50}
0.809 (+/-0.034) for {'max_depth': 20, 'n_estimators': 100}
0.796 (+/-0.049) for {'max_depth': None, 'n_estimators': 5}
0.796 (+/-0.042) for {'max_depth': None, 'n_estimators': 50}
0.803 (+/-0.033) for {'max_depth': None, 'n_estimators': 100}